
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}

body{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, 
    #cffafe, #22d3ee);
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.flower_head {
    height: 7rem;
    width: 7rem;
    background: #cba8ed;
    border-radius: 100%;
=======
.header-img{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
>>>>>>> 54c7a51 (Website)
}

.container{
    flex: 1;
    position: relative;
    isolation: isolate;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto
}

.image-1,
.image-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

<<<<<<< HEAD
.yellow {
    width: 7.5rem;
    height: 7.5rem;
    background: khaki;
=======
.image-1{
    width: 250px;
>>>>>>> 54c7a51 (Website)
}

.image-2{
    width: 250px;
}

.btn{
    position: absolute;
    top: calc(100% - 5rem);
    min-width: 120px;
    padding: .75rem 1rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: #f8fafc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: #e2e8f0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes{
    left: 50%;
    transform: translateX(calc(-100% - 1rem));
    z-index: 1;
}

<<<<<<< HEAD
.delay-1 {
    animation-delay: 3s;
}

.grow-12 {
    animation: grow-12 2s 0.5s ease-in-out forwards;
}

.grow-15 {
    animation: grow-15 2s 1.5s ease-in-out forwards;
}

.grow-9 {
    animation: grow-9 2s 2.5s ease-in-out forwards;
}

.pulse {
    animation: pulse 1s 0.5 ease-in-out infinite alternate;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes grow-12 {
    100% {
        max-height: 14rem;
    }
}

@keyframes grow-15 {
    100% {
        max-height: 17rem;
    }
}

@keyframes grow-9 {
    100% {
        max-height: 11rem;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.1);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.777rem;
    }
    h2 {
        font-size: 1.777rem;
    }
}
=======
.btn-no{
    left: calc(50% + 1rem);
    transition: all .5s ease;
    z-index: 2;
}
>>>>>>> 54c7a51 (Website)
